body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    width: 1400px;
    height: 1021px;
    margin: 0 auto;
}

.hr {
    width:64px;
    height: 0.5px;
}

.header {
    width: 1400px;
    height: 250px;
    text-align: center;
}

.header_title {
    padding-top: 100px;
}

.herader_subtitle_text {
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    padding-bottom: 36px;
}

.main_hr {
    background-color: white;
    border: white;
}

.text {
    font-weight: 400;
    font-size: 36px;
    line-height: 42.26px;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 37px;
    padding-bottom: 37px;
}

.section_content_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.main_content {
    height: 325px;
    background: url('./../images/content_image.png');
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_content_title {
    color: white;
    padding-top: 46px;
}

.section_main_content {
    width: 30%;
}


.section_content_image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #E72424;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_content_text{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Raleway', sans-serif;
    line-height: 19px;
    padding-right: 6px;
    padding-top: 22px;
    padding-bottom: 35px;
}


.main_content_button{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 42px;
    width: 135px;
    cursor: pointer;
}



.footer {
    width: 1400px;
    height: 101px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_info {
    width: 130px;
    height: 15px;
    padding-top: 12px;
}

.footer_info_text {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
}